@import "tailwindcss";

@theme {
  --color-primary: #1b4332;
  --color-dark: #0f2337;
  --font-serif: 'Cinzel', serif;
  --font-principal: 'Inter', sans-serif;
}

body {
  background-color: #f8fafc;
  font-family: 'Inter', sans-serif;
  color: #1e293b;
  margin: 0;
  padding: 0;
}

h1, h2, h3, .brand-title {
  font-family: 'Cinzel', serif;
}